@import url("../components/_components");

.filter {
    // max-width: 1100px;
    width: 100%;
    min-height: 80px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "common location search";
    grid-template-columns: auto 25% 30%;
    border-radius: 16px;    
    position: absolute;
    z-index: 5;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;

    .filter__input {
        background-color: #fff;
        text-overflow: ellipsis;
        display: flex;
        border: none;
        .fontRegular();
        font-size: 16px;
        line-height: 16px;

        &:active, &:hover, &:focus {
            outline: 0;
            outline-offset: 0;
        }

        &_common {
            border-radius: 10px 0 0 10px;
            // grid-area: common;
            background-image: data-uri("../../images/search.svg");
            background-repeat: no-repeat;
            background-position: 32px center;
            padding: 28px 72px;
            @media screen and (max-width: 900px) {
                margin-right: 20px;
                width: 100%;
                border-radius: 16px;
                padding: 0;
                background-image: data-uri("../../images/filterBtn.svg");
                background-position: right;
            }

            // @media screen and (max-width: 900px) {
                
            // }
        }
    
        &_location {
            grid-area: location;
            background-image: data-uri("../../images/location.svg");
            background-repeat: no-repeat;
            background-position: 32px center;
            padding: 28px 72px;
            .borderSetting();

            @media screen and (max-width: 900px) {
                display: none;
            }
        }
        
        &_submit {
            border: none;
            background-color: #5964E0;
            color: @white-color;
            padding: 16px 36px;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: #939BF4;
            }

            &_companies {
                display: none;

                @media screen and (max-width: 900px) {
                    background-image: data-uri("../../images/searchWhite.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                    display: block;
                    width: 48px;
                    height: 48px;
                    padding: 0;
                }
            }
        }

        &_full-time {
            position: absolute;
            z-index: -1;
            opacity: 0;
            
            &+label {
                display: inline-flex;
                align-items: center;
                user-select: none;
                cursor: pointer;
            }

            &+label::before {
                content: '';
                display: inline-block;
                width: 1em;
                height: 1em;
                flex-shrink: 0;
                flex-grow: 0;
                border: 1px solid #adb5bd;
                border-radius: 0.25em;
                margin-right: 0.5em;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 50% 50%;
                width: 24px;
                height: 24px;
            }

            &:checked+label::before {
                border-color: #5964E0;
                background-color: #5964E0;
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
            }
        }

        @media screen and (max-width: 900px) {
            padding: 0;
        }
    }
    
    .filter__search {
        // display: flex;
        // display: ;
        justify-content: space-between;
        grid-area: search;
        padding: 16px;
        border-radius: 0 10px 10px 0;
        .fontBold();

        @media screen and (max-width: 900px) {
            display: none;
        }
    }

    .filter__common {
        grid-area: common;
        // width: 100%;
        @media screen and (max-width: 900px) {
            padding: 28px 24px;
            justify-content: space-between;
        }
        
        box-sizing: border-box;
    }

    @media screen and (max-width: 1200px) {
        grid-template-columns: auto 25% 1fr;
    }

    @media screen and (max-width: 900px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "common";
    }
}